@tailwind base;
@tailwind components;
@tailwind utilities;

.aboutdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.face {
    background-image: url(../assets/images/face.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    margin-right: 20px; /* Adjust the margin as needed */
}