@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Lato-Regular', sans-serif;
    background-color: rgb(49, 39, 61);
}

p, h1, h2, h3, h4, h5, h6 {
    color: rgb(212, 147, 212);
}
