@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Lato, sans-serif;
  background-color: rgb(18, 17, 17);
}

p {
 font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
  font-weight: 700;
}

p, h1, h2, h3, h4, h5, h6 {
  color: rgb(207, 205, 255);
}