.menubar {
  font-family: "Lato", sans-serif;
  padding: 8px 12px 12px 12px;
  font-size: 18px;
}

.menubar *:focus {
  outline: rgb(94, 87, 162);
}

.ant-menu-horizontal,
.ant-menu-item::after,
.ant-menu-submenu::after {
  border: none !important;
}
.ant-menu-item-divider {
  border-bottom: none !important;
  border-top: none !important;
}
